<!DOCTYPE html>
<html>
<head>
<title>Devman Articles</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
button.btn-index {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    background-color: #F8F8F8;
    border-color: #E7E7E7
}
button.btn-article {
    border: none;
    width: 100%;
    padding: 5px;
    padding-left: 35px;
    text-align: left;
}
</style>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="nav-item nav-link" href="https://devman.org"><img src="https://devman.org/assets/images/devman.png"></a></li>
            <li><a class="nav-item nav-link" href="https://devman.org">Something</a></li>
        </ul>
    </div>
</nav>
{% block content %}{% endblock %}
</body>
</html>