{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="container-fluid">
            {% for topic in topics %}
                <div>
                    <button class="btn btn-default btn-index" data-toggle="collapse"
                            data-target=".{{ generate_name(topic) }}">
                        {{ topics[topic] }}
                    </button>
                </div>
                <div class="collapse {{ generate_name(topic) }}">
                    {% for article in articles[topic] %}
                        <div>
                            <button class="btn btn-default btn-article" id="{{ generate_name(article.source) }}">
                                {{ article.title }}
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="container-fluid" id="articles">
            {% for topic in topics %}
                {% for article in articles[topic] %}
                    <div class="{{ generate_name(article.source) }}">
                        {{ load_article(article.source) }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}