{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <div class="container-fluid">
            {% for topic in topics %}
                <div>
                    <button class="btn btn-default btn-index" data-toggle="collapse"
                            data-target="#{{ generate_id('button', topic) }}">
                        {{ topics[topic] }}
                    </button>
                </div>
                <div class="collapse" id="{{ generate_id('button', topic) }}">
                    {% for article in articles[topic] %}
                        <div>
                            <button class="btn btn-default btn-article" id="{{ generate_id('button', article.source) }}">
                                {{ article.title }}
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-9">
        <div class="container-fluid" id="articles">
            {% for topic in topics %}
                {% for article in articles[topic] %}
                    <div id="{{ generate_id('div', article.source) }}">
                        {{ load_article(article.source) }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
{% for topic in topics %}
    {% for article in articles[topic] %}
        $("#{{ generate_id('button', article.source) }}").click(function() {
            $("#articles").children().hide();
            $("#{{ generate_id('div', article.source) }}").show();
        });
    {% endfor %}
{% endfor %}
</script>
{% endblock %}